/* Nutrition */

.nutrition {
	position: relative;
	text-align: center;
	width: 100%;
	padding-bottom: 50px;
}

.nutrition__category {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 40px;
}

.nutrition__prog--title,
.special__prog--title {
	width: 50%;
	max-width: 80%;
	margin: 0;
}

.nutrition__prog--title {
	color: #f5faff;

	font-family: 'Comfortaa';
	font-size: 25px;
	font-weight: 700;
	line-height: normal;

	padding: 15px 30px;
	border-radius: 190px;
	background: #64d370;
	box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
}

.special__prog--title {
	font-family: 'Comfortaa';
	font-size: 25px;
	font-weight: 700;
	line-height: normal;

	padding: 15px 30px;
	border-radius: 190px;
	background: #dee6ee;
	box-shadow: 0 20px 40px 0 rgba(86, 86, 86, 0.3);
}

.nutrition__variations {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.category__item--title {
	text-align: center;
	font-family: 'Comfortaa';
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.category__item--calories {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

.category__item--calories span {
	font-size: 14px;
	text-transform: none;
}

/* Nutrition content */

.nutrition__content {
	display: flex;
	justify-content: space-between;
}

.left__side {
	width: 31.05%;
	margin: 40px 0;
}

.nutrition__desc {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;

	width: 100%;
	max-width: 380px;
	padding: 35px 55px;

	border-radius: 30px;
	background: #64d370;
	box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
}

.nutrition__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;

	width: 100%;
	margin-bottom: 15px;
}

.category__item--title.white {
	color: #f5faff;
	margin-right: 30px;
	font-size: 25px;
}

.category__item--calories.white {
	color: #f5faff;
	font-size: 18px;
	text-transform: uppercase;
}

.category__item--calories.white span {
	text-transform: none;
}

.nutrition__desc--content {
	text-align: left;
	width: 100%;
	max-width: none;
	color: #f5faff;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.4;
}

/* Nutrition price */

.nutrition__price {
	width: 100%;
	max-width: 380px;
	padding: 10px;
	margin-top: 10px;
}

.nutrition__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.nutrition__item:last-child {
	border-bottom: none;
}

.days {
	flex: 2;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	padding-right: 10px;
}

.discount {
	flex: 1;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.discount.transparent {
	color: transparent;
}

.current__price {
	flex: 1;
	font-size: 14px;
	font-weight: 500;
	text-align: right;
}

.btn.margin {
	margin-top: 10px;
}

/* Right side */

.right__side {
	width: 68.95%;
	margin-top: 40px;
	margin-left: 40px;
}

.nutrition__days {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 15px 50px;
	margin-bottom: 40px;
	border-radius: 30px;
	background: #f5faff;
	box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
}

.nutrition__days--item {
	color: #000;
	justify-content: space-between;
	font-family: 'Comfortaa';
	font-size: 25px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.nutrition__days--item.active {
	color: #64d370;
}

/* Nutrition meal */

.nutrition__meal--times {
	width: 100%;
	justify-content: space-between;
	max-width: 880px;
	padding: 10px;

	padding: 40px 40px;
	border-radius: 30px;
	background: #f5faff;
	box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
}

.meal__times--item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	margin-bottom: 67px;
}

.meal__time {
	flex: 1;
	color: #000;
	font-size: 16px;
	text-align: left;
	padding-right: 10px;
}

.meal__name {
	flex: 2;
	color: #000;
	font-size: 18px;
	font-weight: 300;
	line-height: normal;
	text-align: left;
}

.meal__price {
	text-align: left;
	color: #000;

	font-size: 18px;
	font-weight: 300;
	line-height: normal;
}

.meal__times--item:last-child {
	margin-bottom: 0;
}

.nutrition__circle {
	position: absolute;
	width: 530px;
	height: 530px;

	border: 25px solid #26f03a;
	border-radius: 50%;
	opacity: 0.2;

	right: -380px;
	top: 500px;
	z-index: -10;
}

@media (max-width: 1230px) {}

@media (max-width: 990px) {}

@media (max-width: 770px) {}

@media (max-width: 575px) {}
