
@media (max-width: 1230px) {}

@media (max-width: 990px) {}

@media (max-width: 770px) {}

@media (max-width: 575px) {}/* Register an order */

.register__questions {
	position: relative;
	display: flex;
	justify-content: space-between;
	text-align: center;
	width: 100%;
	padding-bottom: 50px;
	margin: 130px 0;
}

.register__questions .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
}

.reg__order {
	max-width: 31%;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.content__title {
	text-align: center;
	font-family: 'Comfortaa';
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}

.content__text {
	color: #020202;
	font-size: 16px;
	line-height: 133.8%;
	margin-bottom: 35px;
}

/* Form */

.modern__form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px 0;
	font-family: Arial, sans-serif;
}

.input__field {
	position: relative;
	margin-bottom: 30px;
}

.input__field:first-child {
	margin-bottom: 45px;
}

.input__field input {
	width: 100%;
	padding: 10px 20px;
	border: none;

	font-family: 'Comfortaa';
	font-size: 15px;
	font-weight: 700;
	line-height: normal;

	border: 1px solid #ccc;
	border-radius: 30px 30px 30px 30px;
	background: #dee6ee;
	font-size: 16px;
	outline: none;
	transition: 0.3s;
}

.input__field label {
	position: absolute;
	font-size: 14px;

	font-family: 'Comfortaa';
	font-size: 15px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;

	top: -25px;
	left: 20px;
	color: #999;
	transition: 0.3s;
	pointer-events: none;
}

.input__field:last-child {
	margin-top: 20px;
}

/* .input__field input:focus ~ label,
.input__field input:valid ~ label {
  top: -15px;
  font-size: 12px;
  color: #007bff;
}

.input__field input:focus ~ .underline {
  transform: scaleX(1);
} */

.underline {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #007bff;
	transform: scaleX(0);
	transition: 0.3s;
}

.checkbox__item {
	margin: 20px 0;
}

.checkbox__item input[type='checkbox'] {
	display: none;
}

.checkbox__label {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 10px;
}

.custom__checkbox {
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	position: relative;
	transition: 0.3s;
}

.radio__item {
	margin: 20px 0;
}

.radio__item input[type='radio'] {
	display: none;
}

.radio__item:last-child {
	margin-bottom: 40px;
}

.radio__label {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 10px;
}

.radio__item span {
	font-family: 'Comfortaa';
	font-size: 14px;
	font-weight: 700;
	line-height: normal;
	top: 2px;
}

span .green {
	color: #64d370;
}

.custom__radio {
	width: 25px;
	height: 25px;
	border: 2px solid #ccc;
	border-radius: 50%;
	position: relative;
	transition: 0.3s;
}

input[type='radio']:checked + .radio__label .custom__radio {
	background: #dee6ee;
	border-color: #dee6ee;
}

input[type='radio']:checked + .radio__label .custom__radio::after {
	content: '';
	width: 10px;
	height: 10px;
	background: #64d370;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type='checkbox']:checked + .checkbox__label .custom__checkbox {
	background: #dee6ee;
	border-color: #007bff;
}

input[type='checkbox']:checked + .checkbox__label .custom__checkbox::after {
	content: '✓';
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.place__order {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.submit__btn {
	padding: 15px 20px;

	background: transparent;
	color: #64d370;
	border: 2px solid #64d370;
	border-radius: 190px;

	font-family: 'Comfortaa';
	font-size: 24px;
	font-weight: 700;
	line-height: normal;

	cursor: pointer;
	transition: 0.3s;
	display: block;
}

.submit__btn:last-child {
	color: #fff;
	background: #64d370;
	border: none;
}

.order1__text {
	max-height: 25px;
	font-family: 'Comfortaa';
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin: 15px 0;
}

/* Accordion questions*/

.questions {
	max-width: 60%;
	width: 100%;
	margin-left: 50px;
}
.content__item {
	position: relative;
	width: 100%;
	padding: 12px 20px 12px 55px;
	font-size: 16px;
	margin-bottom: 8px;
	text-align: left;
	background-color: #f5faff;
	border-radius: 190px;
	box-shadow: 0 2px 8px rgba(86, 86, 86, 0.2);
	margin-top: 8px;
}
.content__item:last-child {
	margin-bottom: 0;
}

@media (max-width: 1230px) {}

@media (max-width: 990px) {}

@media (max-width: 770px) {}

@media (max-width: 575px) {}