/* Rules */

.rules {
	margin-bottom: 40px;
	position: relative;
	bottom: 120px;
	left: 0;
	right: 0;
	z-index: 10;
	margin-bottom: 0;
}

.rul {
	display: flex;
	flex-wrap: wrap;
}

.rules__rectangle {
	position: relative;
	border-radius: 30px;
	background: rgba(245, 250, 255, 0.8);
	box-shadow: 0 0 30px 0 rgba(86, 86, 86, 0.3);
	z-index: 11;
}

.rules__item {
	flex: 1 1 0;
	padding: 50px 15px;

	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}

.rules__item:first-child {
	margin-left: 30px;
}

.rules__item:last-child {
	margin-right: 30px;
}

.rules__item:nth-child(4) {
	margin-top: 5px;
}

.rules__icon {
	width: 100%;
	justify-content: center;
	margin-bottom: 10px;
}

.rules__img {
	max-width: 90px;
	height: auto;
}

.rules__text {
	font-weight: 500;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle__rul {
	position: absolute;
	background: #26f03a;
	width: 545px;
	height: 545px;

	border-radius: 100%;
	opacity: 0.2;

	left: -575px;
	top: 100px;
	z-index: -10;
}

@media (max-width: 1230px) {}

@media (max-width: 990px) {}

@media (max-width: 770px) {}

@media (max-width: 575px) {}