@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kaushan+Script&family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.6;
	color: #020202;
	background-color: #f5faff;
}

/* Container */

.container {
	width: 100%;
	max-width: 1300px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Header */

.header {
	position: relative;
	padding-top: 10px;
	top: -50px;
	left: 0;
	right: 0;
	z-index: 5;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 5;
}

.logo__circle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 204px;
	height: 204px;

	border-radius: 50%;
	background-color: #f5faff;

	box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
}

.header__logo-img {
	width: 100%;
}

.header__logo-text {
	font-size: 14px;
	font-family: 'Comfortaa', sans-serif;
	color: #020202;
}

/* Nav */
.header__nav-block {
    position: relative;
    display: flex;
    width: 100%;
		margin-top: 20px;
    margin-left: -10px;
}

.nav {
    font-size: 14px;
    z-index: 1;
    flex: 1;
}

.nav__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1000px;
    height: 52px;

    background-color: #f5faff;
    gap: 24px;

    border-radius: 0 30px 30px 0;
    box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
    padding: 0 30px;
}

.nav__links-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.nav__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    color: #020202;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.2s linear;
}

.nav__link:first-child {
    position: relative;
    margin-left: 60px;
}

.nav__link-green {
    color: #64d370;
}

.nav__link:after {
    content: '';

    display: block;
    width: 100%;
    height: 3px;

    background-color: #64d370;

    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear;
}

.nav__link:hover {
    color: #64d370;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__lang-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
		margin-top: 10px;
		margin-left: 35px;
}

/* Change Lang */

.change__lang {
    display: flex;
    gap: 10px;
}

.change__lang-item {
    cursor: pointer;

    width: 35px;
    height: 35px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
    font-size: 12px;
}

.change__lang-item.active {
    background-color: #64d370;
    color: #fff;
}

/* Contact info */

.contact__info {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 280px;
    height: 52px;
    margin-left: 20px;

    font-size: 20px;
    font-weight: 700;

    background-color: #f5faff;
    color: #64d370;

    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
}
